.MyBookingsMainDiv{
    background-image: url('./image/bg1.jpg');
    height: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.MyBookingswritten{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.mybookingsbox{
    display: flex;
    margin: 7rem;
    padding: 1rem;
    box-shadow: 2px 1px 9px 1px #e4dede;
    color: black;
}
.mybookingsimg img{
    height: 13rem;
    border-radius: 1rem;
}
.mybbokingwrittenpart{
    display: flex;
    margin-left: 2rem;
    margin-top: 0;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
}

